extends layout.pug 
block contents 

    div(class="form")

        form( method="POST" , action="")
            div(class="form-label")
                label(for="admin") Admin code


            div(class="form-field")    
                input(type="password",placeholder="admin secret key", name="admincode")

            
            button(type="submit") submit         