extends layout.pug
block contents 

    if messages 
        each message in messages

            div(class ="card")
                div(class ="card-body")
                    if(user)
                        h3(class = "card-title") #{message.author.username} 
                    else 
                         h3(class = "card-title") unknown   
                    p(class = "card-description") #{message.description}
                    a(href="/delete"+message.id ) delete
                    a(href="/update"+message.id) update 

    