doctype html
html
    head 
        title home
        link(rel = "stylesheet", href="/styles/layout.css")
        link(rel = "stylesheet", href="/styles/home.css")
        link(rel = "stylesheet", href="/styles/form.css")

    body

        header
            div(class = "header_text")
                h3: a(href="/")  clubhouse

            div(class = "header_text")
                if(user)
                    h4 #{user.username}   
                
            nav(class = "header_nav")
                if(user)
                    a(href="/admin" ) admin
                    a(href="/membership" ) membership
                    a(href="/createmessage") create message
                    a(href="/logout") logout 
                else 
                    
                    a(href="/sign_up" ) sign up
                    a(href="/login" ) login 
                     

        block contents        

        footer  
            p created by Jaspreet Singh  