extends layout.pug 
block contents 

    div(class="form")

        if(errMess)
            b #{errMess} 

        if(error)
            b #{error.msg}  

        form( method="POST" , action="")
            div(class="form-label")
                label(for="username") Username

            div(class="form-field")    
                input(type="text",placeholder="singh04", name="username")

            div(class="form-label")
                label(for="password") Password

            div(class="form-field")    
                input(type="password",placeholder="password", name="password")

            div(class="form-label")
                label(for="confirmPassword") confirmPassword

            div(class="form-field")    
                input(type="password",placeholder="confirm password" name="confirmPassword")

            button(type="submit") sign up            